/*Original css was taken from: http://tutorialspage.com/files/html5-css3-modal-window/modal_window.html*/
.modalWindow {
    display: none;
    position: fixed;
    font-family: arial;
    font-size:80%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    margin-left: auto;
    margin-right: auto;
    opacity:1;
    pointer-events: auto;
    }
    .modalButtons{
        display: flex;
        flex-direction: row;
    }
    .modalButtons div {
        width: 50%;
    }
    .modalHeader h2 { color: #189CDA; border-bottom: 2px groove #efefef;  text-align: center;}
    .modalWindow:target {
    opacity:1;
    pointer-events: auto;
    }
    .modalWindow > div {
    position: relative;
    margin: 10% auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
    width: 300px;
    }
    .modalWindow .modalHeader { padding: 5px 20px 10px 20px; }
   
    .ok, .cancel {
    background: #606061;
    color: #fff;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    }
    .close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 22px;
    height: 22px;
    font-size: 10px;
     
    }
    .ok, .cancel {
    width:80px;
   display: block;
    margin-left: auto;
    margin-right: auto;
    }
    .ok:hover, .cancel:hover { background: #189CDA;  }
  
  