#restaurants-list{
    display: flex;
    flex-wrap: wrap;
}
#restaurants-list li h2{
    font-size: 15pt;
    font-weight: bold;
    text-align: center;
    margin-bottom: auto;
}
#restaurants-list p{
    font-size: 14pt;
}
#restaurants-list li a {
    background-color: #444;
    font-size: 12pt;
    
}
#restaurants-list li{
    margin-left: auto;
    margin-right: auto;
    padding: 25px  30px 25px;
    display: flex;
    flex-direction: column;
}

.filter-options {
    padding: 10px 0 10px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
.inside #maincontent{
    display: flex;
    flex-wrap: wrap;
}
#breadcrumb {
    text-align: left;
}

 #breadcrumb li {
    font-size: 12pt;
    
}
.current-page-link {
   color:#444 !important;
   text-decoration: underline !important;
}
 .inside #map-container {
    height: 400px;
    width: 100%;
} 

#restaurant-container {
    margin-left: auto;
    margin-right: auto;
    padding: 2% 5% 3%;
}
#restaurant-name {
    text-align: center;
}
#restaurant-img, 
.restaurant-img  {
    width: 100%;
}

#restaurant-cuisine {
    width: 100%;
}

#restaurant-address {
    font-weight: bold;
    text-align: center;
}

#restaurant-hours td {
    font-size: 1rem;
}

#reviews-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
   
}
#reviews-container h3 {
    text-align: center;
}
#reviews-list li {
   margin-left: auto;
   margin-right: auto;
   padding: 0;
   border-top-left-radius: 20px;
   border-bottom-right-radius: 20px;
}
#review-header {
    display: flex;
    flex-direction: row;
    background-color: black;
    padding: 0 20px;
    align-items: center;
}
.review-name, 
.review-date {
    width: 50%;
    color: white;
    font-size: 1em;
}
.review-name {
    font-size: 1.3em;
    letter-spacing:2px;
}
.review-date {
    text-align: right;
}

.review-comment {
    padding: 0 20px;
    font-size: 1.25em;
}

.review-comment-textarea {
    margin: 0 15px 0 15px;
    height: 100px;
    
}
.review-rating-div {
    width: 100%;
    float: left;
}
.review-rating {
    display: inline-block;
    background-color: orange;
    margin-left: 20px;
    padding: 0 20px;
    text-transform: uppercase;
    color: white;
    font-size: 1.25em;
}
#top-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}

@media screen and (min-width:397px)  { 
    nav {
        padding-top: 10px;
      
    }
    #breadcrumb li {
        font-size: 14pt;
    }
}
@media screen and (min-width:481px)  { 
    .filter-options h2{
        margin: 15px 0px 15px 15px;
        min-width: 130px;
    }
    .filter-options h2::after{
        content: ":";
       
    }
    .filter-options {
      flex-direction: row;
    }
    .filter-options select {
      display: flex;
      flex-grow: 1;
    }
   }

  
@media screen and (max-width: 744px) {
    #restaurants-list li{
        width: 100%;
    }
}

@media screen and (min-width: 745px) {
    #restaurants-list li{
        width: 40%;
    }

    nav {
        padding-top: 0px;
    }
    nav h1 a{
        font-size: 24pt;
    }
    .inside #map-container{
        width: 50%;
        order: 1;
        height: 100%;
    }
    .inside #map{
        height: 100%;
    } 
    #restaurant-container {
        width: 45%;
        order: 0;
        
        padding: 0;
    }
    #top-container {
        flex-direction: row;
    }
}
@media screen and (min-width: 1049px) {
    #restaurants-list li{
        width: 270px;
    }

}